body {
  background: url('cinema.jpg') no-repeat 100% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-color: #e3f2fd;

}

h1, h2, h3 {

font-family: 'Open Sans', sans-serif;

}

#icon {
  width: 50px;
}


.my-new-list {
  background-color: #607d8b;
  padding: 20px 20px 20px 20px;
  margin: 30px 30px 30px 30px;
}